<%- include ('partials/header') %> 

<div class="row space">
    <div class="column">
        <div id="jumbotron" class="ui message">
            <h1 class="ui header">
                Welcome To MegaByte
            </h1>
            <p class="parContent">Treat your eyes to a variety of assorted dishes</p>
            <a class="ui violet button" href="/meals/new">Add new dish</a>
        </div>
    </div>
</div> 

<div class="ui tablet mobile only">
    <br>
</div>

<div class="ui four stackable special cards">
    <% meals.forEach(meal => { %>
        <div class="card">
            <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted button">More Info</div>
                        </div>
                    </div>
                </div>
                <img src="<%= meal.image %>">
            </div>
            <div class="center content">
                <a href="/meals/<%#= meal._id %>" class="header"><%= meal.name %></a><hr>
                <%= meal.description.substring(0, 100) + '...' %>
            </div>
        </div>
    <% }) %>
</div>

<%- include ('partials/footer') %> 