<%- include ('../partials/header.ejs')%>

    <div class="ui main text container segment">
        <div class="ui huge header"><%= meal.name %></div>
        <div class="ui divider"></div>
        <div class="ui top attached">
            <div class="item">
                <img src="<%= meal.image %>" alt="<%= meal.name %>" class="ui fluid rounded image">
            </div>
            <br>
            <div class="description">
                <%= meal.description %>
            </div>
        </div>
        <a href="/meals/<%= meal._id %>/edit" class="ui inverted green button">Edit</a>
        <form id="delete" action="/meals/<%= meal._id %>?_method=DELETE" method="POST">
            <button type="submit" class="ui inverted red button">Delete</button>
        </form>
    </div>

    <div class="ui main text secondary container segment">
        <div>
            <a class="ui green button" href="/meals/<%= meal._id %>/comments/new">Leave A Review</a>
        </div>
        <div class="ui divider"></div>

        <div class="ui comments">
        <% meal.comments.forEach(comment => { %>
            
            <div class="comment">
                <div class="content">
                    <a class="author"><%= comment.author.name %></a>
                    <div class="metadata">
                        <span class="date">10 days ago</span>
                    </div>
                    <div class="text"><%= comment.text %></div>
                </div>
            </div>
        <% }) %> 
    </div>
    </div>

<%- include ('../partials/footer.ejs')%>